<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
<title>萌芽書屋購物車</title>
</head>
<body>
<script type="text/javascript" src="js/bootpag.min.js"></script>
<div class="container">
	<ul class="nav nav-pills justify-content-end">
		<li class="nav-item">
			<div class="p-2 text-dark" id="user">歡迎光臨</div>
		</li>
		<li class="nav-item">
			<button type="button" class="btn btn-outline-primary btn-sm" href="product">所有商品</button>
		</li>
		<!-- 註冊帳號開始Button to Open the Modal -->
		<li class="nav-item">
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#myModalReg">會員註冊</button>
  <!-- The Modal -->
  <div class="modal fade" id="myModalReg">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h1 class="h3 mb-3 font-weight-normal">註冊會員表單</h1>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
             <form class="form-signup" onsubmit="return false;">                     
               <label for="userName" class="sr-only">User Name</label>
                <input type="text" id="userName" class="form-control" 
                                  placeholder="User Name" required autofocus><br/>
                <label for="Email" class="sr-only">Email</label>
                <input type="email" id="Email" name="Email" class="form-control" 
                             placeholder="Email" required><br/>
                <label for="Password" class="sr-only">Password</label>
                <input type="password" id="Password" class="form-control" 
                             placeholder="Password" required><br/>
                <label for="Password" class="sr-only">Confirm Password</label>
                <input type="password" id="ConfirmPassword" class="form-control" 
                             placeholder="ConfirmPassword" required><br/>
               <button class="btn  btn-primary btn-block" type="submit">註冊帳號</button>  
          </form>             
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        
      </div>
    </div>
  </div>
  <p>
    </li>
    <!-- 註冊帳號結束Button to Open the Modal -->
    
    <!-- 登入帳號開始Button to Open the Modal -->
     <li class="nav-item"><!-- Button to Open the Modal -->
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#myModalMem">會員登入</button>
  <!-- The Modal -->
  <div class="modal fade" id="myModalMem">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h1 class="h3 mb-3 font-weight-normal">登入輸入表單</h1>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
             <form class="form-signin" onsubmit="return false;">                     
               <label for="userName" class="sr-only">User Name</label>
                <input type="text" id="userName" class="form-control" 
                                  placeholder="User Name" required autofocus><br/>
                <label for="Password" class="sr-only">Password</label>
                <input type="password" id="Password" class="form-control" 
                             placeholder="Password" required><br/>
               <div class="checkbox">
                   <label>
                       <input type="checkbox" value="remember-me"> 記住我的登入
                  </label>
               </div>
               <button class="btn  btn-primary btn-block" type="submit">登入</button>  
          </form>             
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        
      </div>
    </div>
  </div>
  <p>
    </li>
    <!-- 登入帳號結束Button to Open the Modal -->
  </ul>
</div>

	<table cellpadding="2" cellspacing="2" border="1">
		<tr>
			<th>商品編號</th>
			<th>商品名稱</th>
			<th>商品照片</th>
			<th>商品價格</th>
			<th>Buy</th>
		</tr>
		<c:forEach var="product" items="${product}">
			<tr>
				<td width="100">${product.id }</td>
				<td width="150">${product.productName }</td>
				<td><img src="${pageContext.request.contextPath }/${product.photo}" width="150"></td>
				<td width="100">NT$${product.price }</td>
				<td align="center">
					<a href="${pageContext.request.contextPath }/cart/buy/${product.id}">Buy Now</a>
				</td>	
			</tr>
		</c:forEach>
	</table>
<script  type="text/javascript">

	/* 會員帳號登入檢查開始 */
	function check(){
	  $.ajax({
        url: "check", 
        data:{"userName":$("#userName").val(),"password":$("#password").val()},                        
        cache:false ,
        type: "GET",
        dataType: 'text',
        success: function (msg) {              	
               alert(msg);
 
               $('#myModalMem').modal('hide');
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
        }
    });
    return false;
}
	/* 會員帳號登入檢查結束 */
	
	/* 會員帳號註冊檢查開始 */
	/* function addMember(){
		  $.ajax({
	        url: "check", 
	        data:{"userName":$("#userName").val(),"email":$("#email").val(),"password":$("#password").val(),"confirmPassword":$("#confirmPassword").val()},                        
	        cache:false ,
	        type: "GET",
	        dataType: 'text',
	        success: function (msg) {              	
	               alert(msg);
	               $('#myModalReg').modal('hide');
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	            alert(xhr.status);
	            alert(thrownError);
	        }
	    });
	    return false;
	} */
	/* 會員帳號註冊檢查結束 */
	
</script>
</body>
</html>