<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
          		xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>萌芽書屋個人訂單</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- <script th:src="@{https://unpkg.com/vue#next}"></script> -->

        <script type="text/javascript" th:src="@{/js/product.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootpag.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
        <script type="text/javascript" th:src="@{/js/form-validation.js}"></script>
        <script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
    </head>
    <body>
        <div class="header">
            <div class="w">

                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item">
                        <div class="p-2 text-dark" id="username" th:text="${session.username}">歡迎光臨</div>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-primary btn-sm" th:href="{@/products}">所有商品</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-primary btn-sm" th:href="{@/cartItem}">購物車</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-primary btn-sm" th:href="@{/order.do(operate='getOrderList')}">我的訂單</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="list">
            <div class="w">
            <h3 align="center">萌芽書屋個人訂單</h3>
                <table>
                    <thead>
                        <tr>
                        <th>訂單編號</th>
                        <th>訂單日期</th>
                        <th>訂單金額</th>
                        <th>訂單數量</th>
                        <th>訂單狀態</th>

                      </tr>
                    </thead>
                    <tbody>
                        <tr th:each="orderId : ${session.orderId}" th:object="${orderId}">
                            <td th:text="*{orderId}">12354456895</td>
                            <td th:text="*{createDate}">
                            2015.04.23
                            </td>
                            <td th:text="*{totalAmount}">90.00</td>
                            <td th:text="*{totalAmount}">88</td>
                            <td><a href="" class="send">等待发货</a></td>

                        </tr>

                    </tbody>
                </table>
                <div class="footer">
                    <div class="footer-right">
                        <div>首页</div>
                        <div>上一页</div>
                        <ul>
                            <li class="active">1</li>
                        	<li>2</li>
                            <li>3</li>
                        </ul>
                        <div>下一页</div>
                        <div>末页</div>
                        <span>共10页</span>
                        <span>30条记录</span>
                        <span>到第</span>
                        <input type="text" />
                        <span>页</span>
                        <button>确定</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">


        </div>
    </body>
</html>
