@charset "UTF-8";
#title
{
	background-color:#90E0EF;
	width:50%;
	height:100px;
	margin-left:25%;
}
#content
{
	background-color:#FFFBDB;
	width:50%;
	height:800px;
	margin-left:25%;
}
#end
{
	background-color:#CAF0F8;
	width:50%;
	height:100px;
	margin-left:25%;
}